<ion-header>
  <ion-navbar color="lesGifs" class="bar-header">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>

    <ion-title>
      <img src="{{assets}}/lesgifs-poupayApp.png" alt="logoApp" />
    </ion-title>

    <ion-buttons end>
      <button ion-button>
        <p>{{ userMoney }} <ion-icon name='aperture'></ion-icon></p>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf='(posts | async)?.length === 0'>
    <img src="{{assets}}/rienAafficher.png" class="nothingToDisplay"/>
  </div>

  <ion-card *ngFor="let post of (posts | async)" class="feed-card">
    <img src="{{assets}}/content/{{ post.src }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ post.title }}
      </ion-card-title>
      <p>
        {{ post.text }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
