<ion-header>
  <ion-toolbar color="messages">
    <ion-title>
      <ion-icon name='cart'></ion-icon> La BoukiBoutique
    </ion-title>
    <ion-buttons start>
      <button ion-button>
        <p>{{ userMoney }} <ion-icon name='aperture'></ion-icon></p>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="category">
      <ion-segment-button value="images">
        Images
      </ion-segment-button>
      <ion-segment-button value="videos">
        Vidéos
      </ion-segment-button>
      <ion-segment-button value="gifs">
        Gifs
      </ion-segment-button>
      <ion-segment-button value="sons">
        Sons
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'images'">
      <ion-item *ngFor="let post of (posts_images | async)">
        <ion-avatar item-start>
          <img src="assets/img/content/{{ post.src }}" class="blur-img">
        </ion-avatar>
        <h2>{{ post.title }}</h2>
        <p>{{ post.category }}</p>
        <h3>Prix: {{ post.prix }} <ion-icon name='aperture'></ion-icon></h3>
        <button ion-button clear item-end (click)="buy(post)"><br/>Acheter</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'videos'">
      <ion-item *ngFor="let post of (posts_videos | async)">
        <ion-avatar item-start>
          <img src="assets/img/videoGenerique.png" class="blur-img">
        </ion-avatar>
        <h2>{{ post.title }}</h2>
        <p>{{ post.category }}</p>
        <h3>Prix: {{ post.prix }} <ion-icon name='aperture'></ion-icon></h3>
        <button ion-button clear item-end (click)="buy(post)"><br/>Acheter</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'gifs'">
      <ion-item *ngFor="let post of (posts_audios | async)">
        <ion-avatar item-start>
          <img src="assets/img/content/{{ post.src }}" class="blur-img">
        </ion-avatar>
        <h2>{{ post.title }}</h2>
        <p>{{ post.category }}</p>
        <h3>Prix: {{ post.prix }} <ion-icon name='aperture'></ion-icon></h3>
        <button ion-button clear item-end (click)="buy(post)"><br/>Acheter</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'audios'">
      <ion-item *ngFor="let post of (posts_audios | async)">
        <ion-avatar item-start>
          <img src="assets/img/content/{{ post.src }}" class="blur-img">
        </ion-avatar>
        <h2>{{ post.title }}</h2>
        <p>{{ post.category }}</p>
        <h3>Prix: {{ post.prix }} <ion-icon name='aperture'></ion-icon></h3>
        <button ion-button clear item-end (click)="buy(post)"><br/>Acheter</button>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
